asgiref==3.5.0
backports.zoneinfo==0.2.1
Django==3.1.14
django-json-api==0.2.4
djangorestframework==3.12.2
djangorestframework-jsonapi==4.1.0
inflection==0.5.1
python-dateutil==2.7.5
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
